section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 0 3rem;
  border-bottom: 1px solid #f3f4f5;
  padding-top: 1.8rem;
}

.contacts a {
  width: 3rem;
  height: 3rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #343a40;
  font-size: 5rem;
  text-decoration: none;
  border-radius: 100%;
  margin-right: 0.5rem;
}
